/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require jquery-ui/datepicker
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.alert {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 60%;
}


.footer-12 {
  padding-top: 190px;
  padding-bottom: 110px;
  text-align: center;
  font-size: 84.3px;
  font-weight: normal;
  color: rgba(44, 62, 80, 0.2);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  letter-spacing: -2px;
}
.footer-12:before {
  content: '';
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  height: 2px;
  overflow: hidden;
  background: #ebedee;
}
.footer-12 [class*="fa-heart"] {
  font-size: 60px;
  font-weight: normal;
  color: #e74c3c;
  vertical-align: baseline;
}
  .footer-12 {
    font-size: 84px;
    font-weight: normal;
    color: rgba(44, 62, 80, 0.2);
    font-weight: 800;
  }


  .footer-12 {
    font-size: 82px;
  }
