/**
 * Header 23 stylesheet
 * */

 video#bgvid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }

 video#bgvid {
   position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    /* height: 100%; */
    /* width: auto; */
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: asset-data-url('ch.jpg') no-repeat;
    background-size: cover;
}


.header-23 {
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-23 > .container {
  position: relative;
}
.header-23 .navbar {
  position: absolute;
  z-index: 2;
  top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-23 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-23 .navbar .brand {
  padding-left: 0;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
}
.header-23 .navbar .nav > li {
  margin-left: 20px;
}
.header-23 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-23 .navbar .nav > li > a {
  padding: 31px 0 27px;
  font-size: 16px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}
.header-23 .navbar .nav > li > a:hover,
.header-23 .navbar .nav > li > a:focus,
.header-23 .navbar .nav > li > a.active {
  color: #506e8c;
}
.header-23 .navbar .nav > li.active > a {
  color: #506e8c;
}
.header-23 .navbar .nav > li.active > a:hover,
.header-23 .navbar .nav > li.active > a:focus,
.header-23 .navbar .nav > li.active > a.active {
  color: #405870;
}
.header-23 .navbar .navbar-toggle {
  margin-top: 28px;
}
.header-23-sub {
  z-index: 50;
  left: 0;
  width: 100%;
  position: relative;
  padding-top: 360px;
  padding-bottom: 270px;
  overflow: hidden;
  color: white;
  text-align: center;
}
@media (max-width: 991px) {
  .header-23-sub {
    padding-top: 260px;
    padding-bottom: 170px;
  }
}
.header-23-sub .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 30px;
  letter-spacing: -1px;
}
.header-23-sub .hero-unit strong {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -2px;
}
@media (max-width: 991px) {
  .header-23-sub .hero-unit strong {
    display: block;
  }
}
.header-23-sub .hero-unit span {
  font-weight: 300;
}
@media (max-width: 991px) {
  .header-23-sub .hero-unit span {
    display: block;
  }
}
.header-23-sub .hero-unit .btn-play {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  overflow: hidden;
  width: 67px;
  height: 67px;
  margin: 0 50px;
  background-image: asset-data-url('btn-play.png');
}
@media (max-width: 991px) {
  .header-23-sub .hero-unit .btn-play {
    margin: 35px 0;
  }
}
.header-23-sub .background {
  opacity: 10;
  filter: alpha(opacity=1000);
  opacity: 0.2;
  filter: alpha(opacity=10);
}


.content-35 {
  position: relative;
  color: #7f8c8d;
  padding-top: 140px;
  padding-bottom: 145px;
}
.content-35 > * {
  position: relative;
}
.content-35 h2 {
  font-size: 35px;
  line-height: 40px;
  color: #2c3e50;
  font-weight: 300;
  margin: 0 0 45px;
}
.content-35 .lead {
  font-size: 20px;
  line-height: 36px;
  margin: 0 0 40px;
}
.content-35 .btn {
  font-weight: 500;
  padding-left: 26px;
  padding-right: 26px;
  margin-bottom: 20px;
}
.content-35 .btn.btn-inverse {
  background: #2c3e50;
}
.content-35 .columns {
  margin-top: 60px;
}
.content-35 .columns h3 {
  font-size: 20px;
  color: #34495e;
  line-height: 28px;
  margin: 0 0 20px;
  font-weight: 500;
}
.content-35 .columns p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
.content-35 .background {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 100;
  filter: alpha(opacity=10000);
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-35 .background > .container {
  height: 100%;
}
@media (max-width: 767px) {
  .content-35 .background > .container {
    height: 250px;
    margin-bottom: 60px;
  }
}
.content-35 .background .col-sm-4 {
  position: absolute;
  height: 100%;
}
.content-35 .background .col-sm-4 > div {
  position: absolute;
  right: 0;
  height: 100%;
  width: 1000px;
  background: #f3f3f3;
  margin: 0;
  background-image: asset-data-url('home-side.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 > div {
    position: static;
    width: 100%;
    overflow: hidden;
  }
}
.content-35 .background .col-sm-4 > div img {
  height: 100%;
  width: auto;
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 > div img {
    height: auto;
    min-height: 250px;
  }
}
@media (max-width: 767px) {
  .content-35 .background .col-sm-4 {
    left: 0;
    right: 0;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .content-35 .background {
    position: static;
  }
}
@media (max-width: 767px) {
  .content-35 {
    padding-top: 0;
  }
}
.user-using {
  height: 100%;
  overflow: scroll;
}
