@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 80px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.jumbotron {
   background: rgb(200, 54, 54); /* For IE8 and below */
   background: rgba(250, 250, 250, 0.5);
   animation-iteration-count: 1;
     border: 0 solid;
    h1 {
      font-weight: bold;
    }
}


.navbar-fixed-top {
    height: 60px;
    background-color: #343B42;
}

.navbar-default {
    .container-fluid {
        .navbar-nav > li > a {
            color: #EDE9E5;
            font-size: 16px;
            font-weight: bold;
        }
        .navbar-brand {
            color:  #4EB1BA;
            font-size: 30px;
            font-weight: bold;
            font-family: 'Arial';
     }
  }
}

.container table tbody tr:hover td {
    background-color: #ff8822;
}

.container-fluid
  #footer {
    text-align: right;
    width:100%;
    float:right;
    bottom:0;
    position:fixed;
    //z-index:999999;
    font-weight: bold;
  }

#wrap {
    position: fixed;
    margin: 0 auto;
  width: 900px;
      height: 20px;
    background-color: #343B42;
  width: 100%;
  text-align: center;
 bottom: 0;
  font-weight: bold;
  font-family: 'Arial';
  }



//----------------------------------------
// Notification styling alerts
//----------------------------------------
// https://github.com/plataformatec/devise/wiki/How-To:-Integrate-I18n-Flash-Messages-with-Devise-and-Bootstrap

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}
.alert-alert, #error_explanation {
background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
text-align: left;
}
.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
#error_explanation {
padding: 15px 15px 15px 30px;
margin-bottom: 30px;
}

//----------------------------------------
// Video
//----------------------------------------
.background-wrap {
/*  making the video fullscreen  */
  position: fixed;
  z-index: -1;
//  width: 100%;
//height: 50%;
//  overflow: hidden;
  top: 0;
  left: 0;
}

#rise {
//  position: fixed;
//  top: 0;
//  left: 0;
  height: 50%;
  width: 100%;
position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
//	height: 0;
}

//----------------------------------------
// Background images
//----------------------------------------
.container.signup {
  background: url(/running.jpg) no-repeat center fixed;
  min-height: 100%;
  min-width: 1024px;
  width: auto;
  position: absolute;
  top: 5;
  left: 0;
  right: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container.signin {
  background: url(/mountain_biking.jpg) no-repeat center fixed;
  min-height: 100%;
  min-width: 1024px;
  width: auto;
  position: absolute;
  top: -5;
  left: 0;
  right: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container.graph {
  background: url(/graph.jpg) no-repeat center fixed;
  background-size: 100%;
  min-height: 100%;
  min-width: 1024px;
  width: auto;
  position: absolute;
  top: -5;
  left: 0;
  right: 0;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

//----------------------------------------
// Charts
//----------------------------------------
.morris-hover{
  position:absolute;
  z-index:1000;
}

.morris-hover.morris-default-style{
  border-radius:10px;
  padding:6px;
  color:#666;
  background:rgba(255, 255, 255, 0.8);
  border:solid 2px rgba(230, 230, 230, 0.8);
  font-family:sans-serif;
  font-size:12px;
  text-align:center;
}
.morris-hover.morris-default-style .morris-hover-row-label{
  font-weight:bold;
  margin:0.25em 0;
}
.morris-hover.morris-default-style .morris-hover-point{
  white-space:nowrap;
  margin:0.1em 0;
}
