// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.full-bg {
  height: 100vh;
  width: 100%;
  background-image: asset-data-url('bike.jpg');
}
